<!doctype html>
<html lang="de" xml:lang="de">
  <head>
    {{ partial "head.html" . }}
  </head>
  <body>
    {{ partial "navigation.html" . }}
    <main>
      {{range .Pages}}
        <section>
          <h2>{{.Title}}</h2>
          <time>{{.Date}}</time>
          {{.Summary}}
          <br>
          <a href="{{.Permalink}}" title="{{.Title}}">Weiterlesen</a>
        </section>
      {{end}}
    </main>
    {{ partial "footer.html" . }}
  </body>
</html>
