<!doctype html>
<html lang="de" xml:lang="de">
  <head>
    {{ partial "head.html" . }}
  </head>
  <body>
    {{ partial "navigation.html" . }}
    <main>
      <h1>{{.Title}}</h1>
      <time>{{.Date}}</time>
      {{.Content}}
      <br>
      <a href="/" title="Zurück">Zurück</a>
    </main>
    {{ partial "footer.html" . }}
  </body>
</html>
