<title>{{.Site.Title}}</title>
<meta http-equiv="Content-Type" content="text/ht	ml;charset=utf-8">
<meta name="title" content="{{.Site.Title}}">
<meta name="description" content="{{.Site.Params.description}}">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/css/styles.css">
